@using WebBanXeGanMay.Models
@using PagedList.Mvc;
@model PagedList.PagedList<XEGANMAY>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="wraper">
        <div class="slide">
            <div class="slide_1 ra">
                <img src="~/images/FB.jpg" alt="" width="1100" height="200 ">
            </div>
            <div class="slide_2">
                <img src="https://suzuki.com.vn/_next/image?url=https%3A%2F%2Fdoftr40680fkg.cloudfront.net%2Fall-page%2Ffeature-images%2Fdesk-placeholder%2FSection9_PC_1692610970031.webp&w=1920&q=75" alt="" width="1100" height="200 ">
            </div>
            <div class="slide_3">
                <img src="https://suzuki.com.vn/_next/image?url=https%3A%2F%2Fdoftr40680fkg.cloudfront.net%2Fcontents%2Fhomepage%2Fbanner%2Fdesktop%2FHomePage_Banner2_964x535_PC_1696306993696_1715592339309.webp&w=1080&q=75" alt="" width="1100" height="200 ">
            </div>
        </div>
    </div>
    <br><br>

    <div id="danhsachxe">
        @foreach (var xe in Model)
        {
            <div>
                <a href="@Url.Action("Details", "Store", new { id = xe.MaXe })">
                    <img width="100" height="100" src="@Url.Content($"~/{xe.Anhbia}")" alt="Motocycle Image" />
                    <span>@xe.TenXe</span>
                </a>
            </div>
        }
    </div>

</section>
<aside id="right">
    <div>
        <p>SẢN PHẨM MỚI</p>
        <marquee onMouseOut="start()" onMouseOver="stop()" scrollamount="4" scrolldelay="100" direction="up">
            @foreach (var xe in Model)
            {
                <div>
                    <a href="@Url.Action("Details", "Store", new { id = xe.MaXe })">
                        <div>
                            <img width="100" height="100" src="@Url.Content($"~/{xe.Anhbia}")" alt="Motocycle Image" />

                        </div>
                        <span>@xe.TenXe</span>
                        <span>@xe.Giaban</span>
                    </a>
                </div>
            }
        </marquee>
    </div>
</aside>
<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
    <div>
        @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }))
    </div>
</div>
