@model WebBanXeGanMay.Models.XEGANMAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <br><br><br>
    <div id="kc" align="center">
        <hr size=3 with=20% color="#999999"><br>
        <a href="#">ĐẶC TÍNH NỔI BẬT</a><br><br>
        <hr size=3 with=20% color="#999999"><br>
        <br><br>
    </div>
    <div class="font" align="left">
        <div class="hinh" align="center">
            <img width="100" height="100" src="@Url.Content($"~/{@Html.DisplayFor(model => model.Anhbia)}")" alt="Motocycle Image" />
            <div class="do">
                <h4> @Html.DisplayFor(model => model.TenXe)</h4>
            </div>
            <p><strong>Loại Xe: </strong> @Html.DisplayFor(model => model.LOAIXE.TenLoaiXe) </p>
            <p><strong>Nhà Phân Phối: </strong> @Html.DisplayFor(model => model.NHAPHANPHOI.TenNPP) </p>
            <div class="xam">
                <strong>Mô tả</strong>
                @Html.DisplayFor(model => model.Mota)
            </div>
            <p><span class="gia">@Html.DisplayFor(model => model.Giaban) VNĐ</span></p>
            <a class="chonmua" href="@Url.Action("AddToCart","ShoppingCart", new {id = @Model.MaXe})"><img class="nutchonmua" src="~/images/Chonmua.png"></a>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
